@import 'semantic-ui';
@import 'doctors';
@import 'patients';
@import 'notes';
@import 'appointments';
@import "bootstrap";

* {
    box-sizing: border-box;
}

.navbar-custom {
    background-color: lightgreen;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

@media screen and (max-width: 700px) {
    .navigation {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navigation a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .navigation a {
      text-align: center;
      float: none;
    }
  }

.doctor-show-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    h1 {
        margin: 20px 0;
    }

    h3 {
        margin: 20px 0;
        font-weight: 300;
    }
}
.container {
    padding: 110px 0;

    .patient-title {
        text-align: center;
        padding: 10px 0;
    }

    .user-info {
        width: 50%;
        margin: 0 auto;
        
    }
}

.patient-list{
    thead {
        th {
            text-align: center;
        }
    }
}


.log-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 220px);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            max-width: 300px;
            padding: 25px 0;
        }
    
        .input {
            width: 300px;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            background-color: rgba(211, 211, 211, 0.432);
        }
    
        .submit {
            background-color: #39d;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
            outline: none;
            align-self: center;
        }

    }

    
}
